.header {
	background-color: wheat;
	padding: 20px;


}

.dark {
	background-color: var(--dark);
	color: var(--light);
}

.container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 1230px;
	margin: 0 auto;
}